SIGNUP
<form action="/signup" method="POST">
  <p>USERNAME<input type="text" name="username"></p>
  <p>EMAIL<input type="text" name="email"></p>
  <p>PASSWORD<input type="text" name="password"></p>
  <input type="submit" value="Signup">
</form>
