<% if current_user %>
  <% username = current_user.username  %>
  <% facts = current_user.facts %>
<% else %>
  <% username = ''  %>
<% end %>

<% @facts.each do |f| %>
<% edit_path = "/#{username}/facts/#{f.id}/edit" %>
  <a style="color:black;" href="/facts/<%= f.id %>"><h4><%= f.content %></h4></a><br>
  <% if facts %>
    <% if facts.find_by_id(f.id) %>
      <form action=<%= edit_path %>>
        <input type="submit" value="Edit" />
      </form>
    <% end %>
  <% end %>
<% end %>
